#header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    width: 24px;
    margin-right: 20px;
}

.youtube-logo-icon {
    width: 90px;
}

.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 480px;
}

.search-input{
    flex: 1;
    padding-left: 12px;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(206, 204, 204);
    width: 300px;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: pointer;
}

.search-input:focus {
    outline: 1px solid rgb(31, 92, 198);
    outline-offset: -1px;
}

.search-btn {
    height: 40px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid rgb(206, 204, 204);
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    border-left: none;
    margin-right: 10px;
    cursor: pointer;
}

.search-icon{
    height: 24px;
}

.voice-search-btn {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.voice-search-icon{
    height: 24px;
}